<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236989207257-8ov2k48la5nt4430tel8tr8dkbij682j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236989207257-8ov2k48la5nt4430tel8tr8dkbij682j</string>
	<key>API_KEY</key>
	<string>AIzaSyBHpeSmRGIuBg_cEyVT2RsohSFn4iLrLLA</string>
	<key>GCM_SENDER_ID</key>
	<string>236989207257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>brew-crew-8f1d0</string>
	<key>STORAGE_BUCKET</key>
	<string>brew-crew-8f1d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236989207257:ios:5ecb1df42a174c3aeba4c8</string>
</dict>
</plist>